.completed {
    text-decoration: line-through;
    color: dimgray

}

#todoCard {
    opacity: 0.85;
    box-shadow: 5px 5px 3px darkgoldenrod;
    background: url(./bg.jpg) no-repeat center fixed; 
    background-size: cover;
}

.ui.checkbox.todoItem, .todoItem {
    margin: 10px 0;
    font-size: x-large;

}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
    font-family: 'Quattrocento', serif;
    font-size: x-large;
}

.ui.checkbox input.hidden+label{
    line-height: 1.5;
}

.ui.list {
    text-align: left;
}

.ui.checkbox .box, .ui.checkbox label{
    padding-left: 1em;
}