#header {
    margin-bottom: 20px; 
    background: url(./bg.jpg) no-repeat center fixed; 
    background-size: cover; 
    height: 10%; 
    padding: 2%;
}

#title{
    margin: auto 10px;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}